<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Signin Template for Bootstrap</title>
	{#    <!-- 引用本地样式 -->#}
	{% load static %}
	<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/signin.css" %}>

	<script src={% static "/js/jquery-3.3.1.min.js" %}></script>
	<script src={% static "/js/bootstrap.min.js" %}></script>
	<link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">
</head>
{% block contern %}

{% endblock %}
</html>